@import "../../Assets/variables";

.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $orange-color;

  font-family: "Roboto Light", sans-serif;
  font-weight: 500;
  font-size: $font-size-xsmall;
  line-height: 2.1rem;
  color: $primary-color;
  width: 21rem;
  height: 5.2rem;
}