@import '../../Assets/variables';

.mainContainer {
  background: $mainGradient;
  height: 100vh;
  padding: 0 5.3rem 0 10rem;
}

.secondContainer {
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
  align-items: center
}

.textContainer {
  display: flex;
  flex-direction: column;

  .mainText {
    font-size: $font-size-main;
    font-family: "Roboto Light", sans-serif;
    font-weight: 700;
    line-height: 5.8rem;
    text-align: left;
    color: $primary-color;
    margin-bottom: 1.6rem;
  }

  .secondText {
    font-size: $font-size-small;
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    line-height: 2.36rem;
    text-align: left;
    color: $primary-color;
    margin-bottom: 4.6rem;
  }
}

.imgContainer {
  position: relative;
  min-width: 76.7rem;
  height: 51.7rem;

  .buildImg {
    width: 72rem;
    height: 48rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
  }

  .orangeRectangle {
    background: $orange-color;
    width: 23.7rem;
    height: 19.5rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
  }
}