@import 'reset';

// Цвета
$primary-color: #FFFFFF;
$black-color: #000;


$orange-color: #FA8701;
$error-color: #e74c3c;
$background-color: #f4f4f4;

// Шрифты
$font-family-base: 'Arial', sans-serif;

$font-size-main: 48px;
$font-size-logo: 32px;
$font-size-phone-number: 24px;
$font-size-small: 20px;
$font-size-xsmall: 18px;


$font-size-base: 16px;
$font-size-large: 20px;


// Границы
$border-radius: 4px;
$border-color: #ddd;


//градиенты

$mainGradient: linear-gradient(to right, #1B3032 70%, #D7E0DE 30%);

